@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>New Republic University</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome!</h2>
        <p>
            The New Republic University is a demonstration of Entity Framework 6 in ASP.NET MVC 5 web applications!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Built from scratch!</h2>
        <p>...Kinda!</p>
        
    </div>
    <div class="col-md-4">
        <h2>Check out my other work</h2>
        <p><a class="btn btn-default" href="http://www.gyretree.com">Click Here! &raquo;</a></p>
    </div>
</div>